<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Weixingongzhonghao</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>adsadsad</description>
    <display-name>test_ser</display-name>
    <servlet-name>test_ser</servlet-name>
    <servlet-class>com.test_ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test_ser</servlet-name>
    <url-pattern>/servlet/test_ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Weixinjieru</display-name>
    <servlet-name>Weixinjieru</servlet-name>
    <servlet-class>com.Weixinjieru</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Weixinjieru</servlet-name>
    <url-pattern>/Weixinjieru</url-pattern>
  </servlet-mapping>
</web-app>